/* Responsive CSS */

@media only screen and (max-width: 420px) {
    #hero .social-links a:not(:last-child) {
        margin-right: 15px;
    }
    #hero .social-links a:last-child {
        margin-right: 0;
    }
    #hero p {
        margin-top: 15px;
    }
    #hero .social-links {
        margin-top: 20px;
    }

    .tech-logos .logo-item {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 991px) {
    .contact .info .address, .contact .info .phone {
        margin-top: 20px;
    }
      
}